* {
    box-sizing: border-box;
}

body {
    font-family: Ubuntu;
    padding-bottom: 100vh;
    margin: 2rem;
}

a {
    text-decoration: none;
    color: #66a5d4;
}

h2 {
    margin-top: 3rem;
    margin-left: -1rem;
    border-left: 2px solid #66a5d4;
    padding: 0.5ex;
    background-color: hsla(199, 84%, 88%, 1);
}

p {
    max-width: 900px;
}

tt, code, pre {
    font-family: "Ubuntu Mono", "Inconsolata", fixed;
}

pre {
    padding: 1ex;
    background-color: hsl(43, 24%, 94%);
    margin-bottom: 2rem;
}

dd {
    margin-bottom: 1ex;
    clear: right;
}

table {
    border-collapse: collapse;
    width: calc(100% - 4rem);
    margin: 0 2em 2em;
}

td, th {
    border-bottom: 1px solid #abdbf6;
    padding: 1ex;
    text-align: left;
}

th {
    border-bottom-width: 2px;
}

th {
    font-weight: bold;
}

tr:last-child td {
    border-bottom: none;
}

.s-func { color: hsl(210, 50%, 40%); }
.s-arg { color: hsl(210, 50%, 40%); }
.s-type { color: hsl(90, 50%, 40%); }
.s-initializer { color: hsl(330, 50%, 40%); }
