<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Annika's Cheat Sheet</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body class="{% block body_classes %}default{% endblock %}">
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script type="text/javascript">
document.addEventListener('click', function(e) {
    var target = e.target;

    if (target.tagName === 'A') {
        e.preventDefault();
        dash.openExternal_(target.href);
    }
});
</script>
</body>
</html>
