<h2>Etsyweb</h2>
<h3>Logger</h3>
<ul>
    <li><tt>Logger::info($message, $log_data = [], $namespace = 'GENERAL');</tt></li>
    <li><tt>Logger::log_info($message, $namespace = 'GENERAL');</tt></li>
</ul>
