<h2>httpie</h2>
<p><a href="http://radek.io/2015/10/20/httpie/">httpie homepage.</a></p>
<p>GET request:</p>
<pre>http GET httpbin.org/get hello==world</pre>
<p>PUT request:</p>
<pre>http PUT httpbin.org/put hello=world</pre>
