<h2>PHPUnit</h2>

<p>Library files are in <tt>Etsyweb/vendor/phpunit/</tt>.</p>

<p>Matching methods for <tt>$mock-&gt;with()</tt>:</p>

<ul>
    <li><tt><span class="s-func">anything</span> ( )</tt></li>
    <li><tt><span class="s-func">isTrue</span> ( )</tt></li>
    <li><tt><span class="s-func">isFalse</span> ( )</tt></li>
    <li><tt><span class="s-func">callback</span> ( )</tt></li>
    <li><tt><span class="s-func">isJson</span> ( )</tt></li>
    <li><tt><span class="s-func">isFinite</span> ( )</tt></li>
    <li><tt><span class="s-func">isInfinite</span> ( )</tt></li>
    <li><tt><span class="s-func">isNan</span> ( )</tt></li>
    <li><tt><span class="s-func">attribute</span> ( <span class="s-arg">$contraint</span>, <span class="s-type">string</span> <span class="s-arg">$attributeName</span> )</tt></li>
    <li><tt><span class="s-func">contains</span> ( <span class="s-type">Traversable</span> <span class="s-arg">$obj</span> )</tt></li>
    <li><tt><span class="s-func">containsOnly</span> ( <span class="s-type">string</span> <span class="s-arg">$type</span> )</tt></li>
    <li><tt><span class="s-func">containsOnlyInstancesOf</span> ( <span class="s-arg">$class</span> )</tt></li>
    <li><tt><span class="s-func">arrayHasKey</span> ( <span class="s-arg">$key</span> )</tt></li>
    <li><tt><span class="s-func">equalTo</span> ( <span class="s-arg">$value</span> )</tt></li>
    <li><tt><span class="s-func">attributeEqualTo</span> ( <span class="s-arg">$attributeName</span>, <span class="s-arg">$value</span> )</tt></li>
    <li><tt><span class="s-func">isEmpty</span> (  )</tt></li>
    <li><tt><span class="s-func">isWritable</span> (  )</tt></li>
    <li><tt><span class="s-func">isReadable</span> (  )</tt></li>
    <li><tt><span class="s-func">directoryExists</span> (  )</tt></li>
    <li><tt><span class="s-func">fileExists</span> (  )</tt></li>
    <li><tt><span class="s-func">greaterThan</span> ( <span class="s-arg">$value</span> )</tt></li>
    <li><tt><span class="s-func">greaterThanOrEqual</span> ( <span class="s-arg">$value</span> )</tt></li>
    <li><tt><span class="s-func">classHasAttribute</span> ( <span class="s-type">string</span> <span class="s-arg">$attributeName</span> )</tt></li>
    <li><tt><span class="s-func">classHasStaticAttribute</span> ( <span class="s-type">string</span> <span class="s-arg">$attributeName</span> )</tt></li>
    <li><tt><span class="s-func">objectHasAttribute</span> ( <span class="s-type">string</span> <span class="s-arg">$attributeName</span> )</tt></li>
    <li><tt><span class="s-func">identicalTo</span> ( <span class="s-arg">$value</span> )</tt></li>
    <li><tt><span class="s-func">isInstanceOf</span> ( <span class="s-type">string</span> <span class="s-arg">$className</span> )</tt></li>
    <li><tt><span class="s-func">isType</span> ( <span class="s-type">string</span> <span class="s-arg">$type</span> )</tt></li>
    <li><tt><span class="s-func">lessThan</span> ( <span class="s-arg">$value</span> )</tt></li>
    <li><tt><span class="s-func">lessThanOrEqual</span> ( <span class="s-arg">$value</span> )</tt></li>
    <li><tt><span class="s-func">matchesRegularExpression</span> ( <span class="s-arg">$pattern</span> )</tt></li>
    <li><tt><span class="s-func">matches</span> ( <span class="s-arg">$string</span> )</tt></li>
    <li><tt><span class="s-func">stringStartsWith</span> ( <span class="s-arg">$prefix</span> )</tt></li>
    <li><tt><span class="s-func">stringContains</span> ( <span class="s-arg">$string</span>, <span class="s-arg">$case</span> = <span class="s-initializer">true</span> )</tt></li>
    <li><tt><span class="s-func">stringEndsWith</span> ( <span class="s-arg">$suffix</span> )</tt></li>
    <li><tt><span class="s-func">countOf</span> ( <span class="s-arg">$count</span> )</tt></li>
</ul>

<p>Booleans:</p>

<ul>
    <li><tt><span class="s-func">logicalAnd</span> ( )</tt></li>
    <li><tt><span class="s-func">logicalOr</span> ( )</tt></li>
    <li><tt><span class="s-func">logicalNot</span> ( )</tt></li>
    <li><tt><span class="s-func">logicalXor</span> ( )</tt></li>
</ul>

<p>Mocking:</p>

<ul>
    <li><tt>{{ 'will(Stub $stub)'|function_signature }}</tt></li>
    <li><tt>{{ 'willReturn($value, ...$nextValues)'|function_signature }}</tt></li>
    <li><tt>{{ 'willReturnReference(&$reference)'|function_signature }}</tt></li>
    <li><tt>{{ 'willReturnMap(array $valueMap)'|function_signature }}</tt></li>
    <li><tt>{{ 'willReturnArgument($argumentIndex)'|function_signature }}</tt></li>
    <li><tt>{{ 'willReturnCallback($callback)'|function_signature }}</tt></li>
    <li><tt>{{ 'willReturnSelf()'|function_signature }}</tt></li>
    <li><tt>{{ 'willReturnOnConsecutiveCalls(...$values)'|function_signature }}</tt></li>
    <li><tt>{{ 'willThrowException(\Exception $exception)'|function_signature }}</tt></li>

    <li><tt>{{ 'returnValue($value)'|function_signature }}</tt></li>
    <li><tt>{{ 'returnValueMap(array $valueMap)'|function_signature }}</tt></li>
    <li><tt>{{ 'returnArgument($argumentIndex)'|function_signature }}</tt></li>
    <li><tt>{{ 'returnCallback($callback)'|function_signature }}</tt></li>
    <li><tt>{{ 'returnSelf()'|function_signature }}</tt></li>
</ul>
