<h2>Rodeo</h2>
<p>Formatting test names for Rodeo:</p>
<ul>
    <li><tt>php ./bin/format_unit_tests_for_rodeo.php --class_path &lt;file&gt;</tt></li>
    <li><tt>testphp -l &lt;file&gt;</tt></li>
    <li><tt>run_test --list-for-rodeo [&lt;file&gt;]</tt></li>
</ul>
