<h2>Test Accounts</h2>
<table>
    <thead>
        <tr>
            <th>Shop Name</th>
            <th>DC</th>
            <th>POL</th>
            <th>ENV</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://www.abackstrom.vm.ny5.etsy.com/shop/ToxicJellybeans">ToxicJellybeans</a></td>
            <td>✓</td>
            <td>✓</td>
            <td>dev</td>
        </tr>
        <tr>
            <td><a href="https://www.abackstrom.vm.ny5.etsy.com/shop/harlleeshop">harlleeshop</a></td>
            <td>?</td>
            <td></td>
            <td>dev</td>
        </tr>
        <tr>
            <td><a href="https://www.etsy.com/shop/MaxwellTang">MaxwellTang</a></td>
            <td>?</td>
            <td></td>
            <td>prod</td>
        </tr>
        <tr>
            <td><a href="https://www.etsy.com/shop/MittelSell">MittelSell</a></td>
            <td>?</td>
            <td>✓</td>
            <td>prod</td>
        </tr>
    </tbody>
</table>
<h3>Key:</h2>
<ul>
    <li>POL: Structured Policies</li>
    <li>ENV: Environment</li>
</ul>
