<h2>tmux</h2>
<p>Move window to #0:</p>
<pre>:swap-window -t 0</pre>
<p>Renumber windows sequentially:</p>
<pre>:move-window -r</pre>
<p>Always renumber windows:</p>
<pre>:set-option -g renumber-windows on</pre>
<p>Rename window:</p>
<pre>^B ,</pre>
